@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray:#d6d6d6;
    --green: #6a8765;
    --gold:#d2bf37;
    --black:#111;
}

body {
    color: var(--black);
    font-family: 'Palette Mosaic', cursive;
    font-family: 'Poppins', sans-serif;
    background-color: var(--gray);
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    padding: 0 2rem;
    background-color: var(--gray);
}
header a {
    font-size: 4rem;
}

nav {
    align-self: center;
}

header h1 {
    font-size: 5vw;
    margin: 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: normal;
    list-style: none;
    height: fit-content;
}

header ul li a {
    text-decoration: none;
    color: var(--green);
    list-style: none;
    font-size: 1.5rem;
    padding: 10px 15px;
}

header ul li a:hover {
    color: var(--gold);
    list-style: none;
}

.social-buttons img {
    width: 100px; 
}

.hero {
    display: flex;
    padding: 5rem 0 10rem 0;
    align-self: center; 
    margin: auto;
    max-width: 900px;
    justify-content: center;
}

.hero img {
    max-width: 25rem;
    height: auto;
    padding: 20px;
}

.calvo img {
    border-radius: 50%;
    object-position: 50% 50%;
}
.hero-cta {
    flex-wrap: wrap;
    align-self: center;
    height: fit-content;
    width: 50%;
    padding:1rem;
}

.hero-cta h2 {
    font-size: 2rem;
}

.hero-cta p {
    padding: .5rem 0 .5rem 0;

}

.hero-cta button{
    padding: .5rem;
    width: max-content;
    margin:0 auto;
    text-transform: uppercase;
    border: 1px solid var(--black);
    letter-spacing: 2px;
    color: var(--green);
    font-weight: bold;
}

.about{
    text-align: center;
    padding: 2.5rem 0 5rem 0;
    margin: auto 0;
    background-color: var(--black);
    color: var(--gray);
}

.about p {
    margin: 0 5% 0 5%;
    font-size: 1.5rem;
}


.portfolio-container {
    text-align: center;
    padding: 2.5rem 0 10rem 0;
}

.portfolio-cards {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content:space-evenly;
}
.portfolio-cards div h3{
    width: 30%;
    margin: auto;
    padding-bottom: .5rem;
}

.portfolio-cards p {
    padding-bottom: .5rem;
    margin: auto;
    width: 50%;
}

.portfolio-cards strong {
    color: var(--gold);
}

.portfolio-cards img {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    transition: transform .3s ease-in;
}

.portfolio-cards img:hover {
    transform: scale(1.05);
}

.run-buddy, .horiseon, .calculator {
    box-shadow: 5px 8px 12px 1px rgb(0 0 0 / 24%);
    margin: 2%;
    padding: 0;
}

.contact-details div img {
    height: 50px;
    width: 50px;
}

.phone-email {
    display: flex;
    margin: .5rem 0 .5rem 0;
    flex-direction: row;
}

.phone-email a {
    align-items: center;
    padding: 1rem;
    font-weight: 400;
    color: var(--black);
    text-decoration: none;
    margin: auto 0;
}

.social-buttons2 img {
    width: 100px;
    margin: .5rem 0 .5rem 0;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 87%;
    max-width: 1300px;
}

.contact-details h2, .portfolio-container h2, .about h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

form {
    width: 50%;
    display: block;
}

input[type=text], input[type=email], input[type=tel], textarea {
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border: none;
    width: 100%;
    font-family: 'Palette Mosaic', cursive;
    font-family: 'Poppins', sans-serif;
}

.post label {
    display: block;
    text-align: left;
    margin: .5rem 0 .5rem 0;
}

.button {
    width: max-content;
    margin:5px auto ;
    text-transform: uppercase;
    border: 1px solid var(--black);
    letter-spacing: 2px;
    padding: 1em 2em;
    color: var(--green);
    font-weight: bold;
    font-family: 'Palette Mosaic', cursive;
    font-family: 'Poppins', sans-serif;
}

footer {
    margin-top: 8rem;
    padding: 1.5rem;
    display: block;
    text-align: center;
    background-color: var(--black);
    color: var(--gray);
}

@media screen and (max-width: 575rem) {
    .about p {
        font-size: 1.75rem;
    }

    .portfolio-cards div h3 {
        font-size: 1.75rem; 
    }
    
    .portfolio-cards p {
        font-size: 1.5rem;
        padding-bottom: .5rem;
        margin: auto;
        width: 50%;
    }
    .phone-email a{
        font-size: 1.5rem;
    }

    input[type=text], input[type=email], input[type=tel], textarea {
        font-size: 1.5rem;
    }
}